<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2008-2011 Sonatype, Inc.
    All rights reserved. Includes the third-party code listed at http://www.sonatype.com/products/nexus/attributions.

    This program is free software: you can redistribute it and/or modify it only under the terms of the GNU Affero General
    Public License Version 3 as published by the Free Software Foundation.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License Version 3
    for more details.

    You should have received a copy of the GNU Affero General Public License Version 3 along with this program.  If not, see
    http://www.gnu.org/licenses.

    Sonatype Nexus (TM) Open Source Version is available from Sonatype, Inc. Sonatype and Sonatype Nexus are trademarks of
    Sonatype, Inc. Apache Maven is a trademark of the Apache Foundation. M2Eclipse is a trademark of the Eclipse Foundation.
    All other trademarks are the property of their respective owners.

-->
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Nexus/Artifactory Bridge</display-name>

    <listener>
      <listener-class>org.sonatype.nexus.web.LogConfigListener</listener-class>
    </listener>

    <!-- Artifactory bridge -->
    <servlet>
        <servlet-name>artifactory</servlet-name>
        <servlet-class>org.sonatype.plexus.rest.PlexusServerServlet</servlet-class>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.role</param-name>
            <param-value>org.restlet.Application</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.roleHint</param-name>
            <param-value>artifactoryBridge</param-value>
        </init-param>
        <init-param>
            <!-- A stupid hack to avoid OneServletServerPerWebapp limitation, see PlexusServerServlet#getInitParameter -->
            <param-name>artifactory.org.restlet.clients</param-name>
            <param-value>FILE CLAP</param-value>
        </init-param>
        <init-param>
            <param-name>plexus.discoverResources</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>artifactory</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
